/* .vitepress/theme/custom.css */
:root {

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);
   
}

.VPLink.no-icon.VPFeature .box{
    flex-direction: row;
    flex-wrap: wrap;
}

.VPLink.no-icon.VPFeature .box .title b{

    color:#666;
    font-size:20px;
}

.dark .VPLink.no-icon.VPFeature .box .title b{

    color:#bbb;
    font-size:20px;
}

.VPLink.no-icon.VPFeature .box .title{
    order:3;
    flex-basis: 100%;
    margin-left: 3px;

}

.lng-home-en .VPLink.no-icon.VPFeature .box .details{
    text-wrap: wrap;
    word-break: break-all;
    white-space: pre-wrap;
    font-size:14px;
    
}

.VPLink.no-icon.VPFeature .box .details{
    order:2;
    padding:10px 0 0 6px;
    font-size: 16px;
    color:#444;
}

.dark .VPLink.no-icon.VPFeature .box .details{
    color:#FFF;
}



.cover{
    width:190px;
    display: block;
    margin:100px 30px 30px 30px;
    /*position: absolute;*/
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}
.image-bg{

    background-image:linear-gradient(-45deg,#bd34fe 50%,#47caff 50%)!important;
    filter:blur(48px)!important;
}

.VPImage.image-src{
    width:200px;
    filter: drop-shadow(0 0 10px rgba(0, 150, 255, 0.5)) 
        drop-shadow(0 0 20px rgba(0, 110, 255, 0.3))
        drop-shadow(0 0 30px rgba(0, 70, 255, 0.2));
    /*filter:drop-shadow(-50px 40px 20px rgba(2, 35, 144, 0.2)) drop-shadow(50px 40px 20px rgba(2, 22, 43, 0.2)) drop-shadow(0px 40px 20px rgba(80, 3, 182, 0.2));
        */
}


.VPLink.VPFeature .title{
    font-size:30px;

}

.lng-home .vp-doc.container p{
    font-size:12px;
    color:#666;
    line-height: 1.4;
}

.dark .lng-home .vp-doc.container p{
    color:#CCC;
}

.VPLink.no-icon.VPFeature{

    overflow: hidden;
    animation: water-wave linear infinite;
}

.VPLink.no-icon.VPFeature .title,.VPLink.no-icon.VPFeature .icon {
    z-index: 1;
}

.VPLink.no-icon.VPFeature .title,.VPLink.no-icon.VPFeature .details text{
    position: relative;
    z-index: 1;
}


.wave{
            position: relative;
            width: 100%;
            height: 0px;
            line-height: 50px;
            margin: 0 auto;
            font-size: 14px;
            text-align: center;
            overflow: visible;
            animation: water-wave linear infinite;
            z-index: 0;
           
        }
        .wave1{
            z-index: 0;
            position: absolute;
            top: -50px;
            left: -95px;
            background: #33cfff;
            opacity: .7;
            width: 725px;
            height: 750px;
            border-radius: 100%;
            animation: inherit;
            animation-duration: 5s;
        }
        .wave2{

            z-index: 0;
            position: absolute;
            top: -50px;
            left: -195px;
            background: #27b0f5;
            opacity: .4;
            width: 625px;
            height: 650px;
            border-radius: 100%;
            animation: inherit;
            animation-duration: 7s;


        }
        .wave3{

            z-index: 0;
            position: absolute;
            top: -50px;
            left: -195px;
            background: #69d8fd;
            border:2px solid #69d8fd;
            opacity: .6;
            width: 525px;
            height: 650px;
            border-radius: 100%;
            animation: inherit;
            animation-duration: 11s;


           
        }
        @keyframes  water-wave{
            0% {transform: rotate(0deg);}
            100% {transform: rotate(360deg);}
        }